* {
  box-sizing: content-box;
  scroll-behavior: smooth;
}

:root {
  --BgColor: green;
  --BdColor: #fdb347;
  --LkColor: #ffc;
  --LkVColor: #fff;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 16px 16px;
    background-color: green;
    color: #fff;
    border-bottom: 4px solid var(--BdColor);
    width: 90%;
    margin: 0 auto;
  }

  .rest {
    width: 90%;
    padding: 16px;
    background-color: #f1f1f1;
    margin: 0 auto;
  }

  .footer p {
    text-align: center;
    padding: 32px 16px;
    background-color: green;
    color: #fff;
    margin: 0 auto;
  }

  header img {
    width: 100px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
  }

  .h2index {
    width: 35%;
    margin: 32px auto;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 16px;
    background-color: green;
    color: var(--LkVColor);
    border-radius: 10px;
    box-shadow: inset 0 10px 40px rgba(0,0,0,0.8);
  }

  .h3index {
    width: 40%;
    border-radius: 10px;
    text-align: left;
    text-transform: uppercase;
    padding: 14px 14px;
    background-color: green;
    color: var(--LkVColor)
  }

  .list-heading {
    width: 18%;
    text-align: left;
    padding: 12px 12px;
    background-color: green;
    color: var(--LkVColor);
    list-style-type: none;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
  }

  section ul {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .img-top-left {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .img-top-right {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 30px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
  }

  nav li {
    padding: 0.5rem;
    border-top: 1px solid white;
  }

  nav li:nth-child(1){
       border-top: none;
  }

  nav {
    width: 20%;
    height: 100%;
    background-color: var(--BgColor);
    border-bottom: 4px solid var(--BdColor);
  }

  nav a {
    display: block;
    text-align: center;
    width: 78%; 
    margin: auto;
  }

  nav a:link {
    text-decoration: none;
    color: var(--LkColor);
  }

  nav a:visited {
    color: var(--LkVColor);
  }

 nav a:hover,
 nav a:focus {
    transform: scale(1.3);
    transition: all 0.3s;
 }

 :is(.spin:hover, .spin:focus-within) .menu-icon {
  background-color: transparent;
  transform: rotate(720deg);
 }

 :is(.spin:hover, .spin:focus-within) .menu-icon::before {
  transform: translateX(-20px) rotate(45deg);
 }

 :is(.spin:hover, .spin:focus-within) .menu-icon::after {
  transform: translateX(-20px) rotate(-45deg);
 }

 :is(.spin:hover, .spin:focus-within) nav.navigation {
  display: block;
 }

  .navigation {
    display: none;
    transform-origin: top center;
    animation: showmenu 0.5s ease-in-out forwards;
  }

  .nav-title-line {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .menu-button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .menu-icon,
  .menu-icon::before,
  .menu-icon::after {
    background-color: white;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
  }

  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }

  .menu-icon::before {
    transform: translate(-20px, -12px);
  }

  .menu-icon::after {
    transform: translate(-20px, 12px);
  }

  @keyframes showmenu {
    0% {
      transform: scaleY(0);
    }

    80% {
      transform: scaleY(1.2);
    }

    100% {
      transform: scaleY(1);
    }
  }

  .flex1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  input, button {
    display: block;
  }

  .flex-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
    color: var(--LkVColor)
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #454547;
    width: 45%;
    height: 400px;
    padding: 32px;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
  }

  .contact-form {
    width: 43%;
    height: 400px;
    padding: 32px;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
  }

  input {
    width: 90%;
    height: 30px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin: 16px auto;
  }

  button.btn-form {
    background-color: var(--BgColor);
    color: var(--LkVColor);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto;
  }

  textarea {
    width: 90%;
    height: 100px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin: 16px 0px 16px 16px;
  }

  .img-contact {
    width: 120px;
    height: 100px;
    border-radius: 10px;
  }

  .h3-home {
    text-align: center;
    padding: 8px 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;

  }

  #slideshow {
    width: 60%;
    height: 300px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }
  
  #slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  #slideshow img.active {
    display: block;
  }

  .bold {
    font-weight: normal;
  }

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  list-style-type: none;
  }

  .footer-nav a {
    color: #005000;
    text-decoration: none;
  }

  .footer-nav a:hover {
    color: #005000;
    text-decoration: underline;
  }

  .footer-nav a:visited {
    color: rgb(0, 0, 70);
  }

  .img-des {
    color:green;
    text-transform: uppercase ;
  }
  
  .div-aboutus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .p-aboutus {
    width: 26%;
    height: 430px;
    padding: 32px;
    color: #454547;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
  }

  .h3-p {
    display: block;
    text-align: center;
    padding: 8px 32px;
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--BgColor);
  }

  i {
    color: var(--BgColor);
  }